<div class="password-recovery-container">
  <div class="password-recovery-card">
      <div class="logo-b">
        <div class="foto"><img src="img/logo-removebg-preview.png" alt="Foofie Logo" class="logo-image"></div>
      </div>
      <h2 class="text-center mb-3">Recuperar Contraseña</h2>
      <p class="text-center">¿Olvidaste tu contraseña? No te preocupes, ¡te ayudamos a recuperarla!</p>
      <p class="text-center">Ingresa tu correo electrónico y te enviaremos instrucciones para restablecerla.</p>
      <form >
          <div class="mb-3">
              <input type="email" class="campo form-control" placeholder="Email">
          </div>
          <button type="submit" class="btn-custom">Enviar instrucciones</button>
      </form>
      <div class="back-to-login">
          <p>¿Recordaste tu contraseña? <a (click)="navigateTo('login')">Inicia sesión</a></p>
      </div>
  </div>
</div>
